/*Copyright 2011 Lohika .  This file is part of ALP.

    ALP is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    ALP is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with ALP.  If not, see <http://www.gnu.org/licenses/>.
   */
#background {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow:hidden;
}

#content {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#optionsbar
{
top: -16px;
position: absolute;
left: 0;
right: 0;
}

#mainlogtable
{
bottom: 0;
top: 46px; 
overflow: scroll;
position: absolute;
left: 0;
right: 0;
}

body	{
	color: #333;
    background-color: #fff;
}

.newlogstring {
	margin: 20px;
}

.logbutton {
	background: url(images/logbutton.gif) no-repeat;
}

.loglink {
	background: url(images/loglink.gif) no-repeat;
}

.logcheckbox {
	background: url(images/logcheckbox.gif) no-repeat;
}

.logcustomstep {
	background: url(images/logcustomstep.gif) no-repeat;
}

.logframe {
	background: url(images/logframe.gif) no-repeat;
}

.logimage {
	background: url(images/logimage.gif) no-repeat;
}

.logpassword {
	background: url(images/logpassword.gif) no-repeat;
}

.logradiobutton {
	background: url(images/logradiobutton.gif) no-repeat;
}

.logselect {
	background: url(images/logselect.gif) no-repeat;
}

.logcomment {
	background: url(images/logcomment.gif) no-repeat;
}

.logtextarea {
	background: url(images/logtextarea.gif) no-repeat;
}

.logtextfield {
	background: url(images/logtextfield.gif) no-repeat;
}

.logcomment {
	background: url(images/logcomment.gif) no-repeat;
}

.logscreenshot {
	background: url(images/logscreenshot.gif) no-repeat;
}

.table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: medium none;
	align: center;
	width: 99%;
	vertical-align: middle;
    font: 80% / 1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

	border: 1pt solid #ADD8E6;
}

.tableheader {
	border-width: 1pt medium medium 1pt;
	background: #ADD8E6;
	padding: 0in 5.4pt;
}

.tableheadertext {
	margin-bottom: 0.0001pt;
	text-align: center;
	line-height: normal;
}

.tablecell {
	border: 1pt solid #ADD8E6;
	padding: 0in 5.4pt;
	vertical-align: middle;
}

.tablecelltext {
	text-align: center;
	margin-bottom: 0.0001pt;
	line-height: normal;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: center;
	border: 1pt solid #ADD8E6;
}

.description {
	text-align: left;
	width: 70%;
}

.highlight {
	background: #E0ECF8;
}

.error {
	background: #F5A9A9;
}

.warn {
	background: #FFFF99;
}

.descriptiontable {
	text-align:left;
}

.imagecol	{
	width: 20px;
	vertical-align: top;
}

.descriptioncol	{
	border-collapse: collapse;
	border: medium none;
	align: left;
	vertical-align: left;
    font: 80% / 1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.textarea	{
	readonly: true;
}

.optiontable {
	border-collapse: collapse;
	border: medium none;
    font: 80% / 1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	float:left;
	margin-left:0.5%;
}

.optiontableheader {
	background: #ADD8E6;
	padding: 0in 5.4pt;
	text-align: center;
	vertical-align: middle;
}

.optiontablecell {
	vertical-align: middle;
}

.invisible	{
	display:none;
}

.noentiresfoundmessage{
	text-align: center;
	vertical-align: middle;
    font: 80% / 1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
